[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
dash-bootstrap-components = "*"
dash = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-admin = "*"
flask-basicauth = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
